@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@font-face {
    font-family: 'Fakt Pro';
    src: url('./FaktPro-Normal.ttf');
}

@font-face {
    font-family: 'Supply Mono';
    src: url('./PPSupplyMono-Regular.otf');
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;

    font-family: 'Fakt Pro';
    font-size: 14.5px;

    background-color: #111111;
    color: #ededed;
}

[data-animate] {
    animation: enter .6s both;
    -webkit-animation-delay: calc(var(--stagger) * 120ms);
    animation-delay: calc(var(--stagger) * 120ms);
}

@keyframes enter { 
    from {
        transform: translateY(25px);
        opacity: 0%;
    }

    to {
        transform: translateY(0px);
        opacity: 100%;
    }
}

::selection {
    background: rgba(50, 151, 253, 0.15);
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
}