@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600;700&family=IBM+Plex+Serif:ital,wght@0,400;1,600;1,700&family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
    background: linear-gradient(90deg, #111 21px, transparent 1%) center, linear-gradient(#111 21px, transparent 1%) center, #323232;
	background-size: 22px 22px;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-rendering: optimizeLegibility;
}